{{$help_url := (join_url .Admin.GetRouter.Prefix "!help")}}
<label class="mdl-button mdl-js-button mdl-button--icon qor-notifications__badges" data-url="{{$help_url}}" data-open-type="slideout">
  <i class="material-icons">help</i>
</label>
