<div class="qor-page__body">
  <div>
    <select>
      <option>category filter</option>
    </select>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable qor-search">
      <label class="mdl-button mdl-js-button mdl-button--icon qor-search__label" for="inputSearch">
        <i class="material-icons">search</i>
      </label>
      <div>
        <input class="mdl-textfield__input qor-search__input" type="text" id="inputSearch" name="keyword" value="" placeholder="{{t "qor_admin.actions.search_bar_search" "Search"}}">
        <label class="mdl-textfield__label"></label>
      </div>
    </div>
  </div>

  {{with .Result}}
    <div>
      {{range $help := .HelpResults}}
        {{$help.Title}}
      {{end}}

      <a href="/admin/users/1" data-url="/admin/users/1" data-open-type="slideout">User 1</a>
    </div>

    <a class="mdl-button mdl-button--fab mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--new" href="/admin/!help/new" data-url="/admin/!help/new">
      <i class="material-icons">add</i>
    </a>
  {{end}}
</div>
