{{$current_category := (get_current_help_category nil .)}}
{{$resource := .Resource}}
{{$actions := load_actions "index" }}
{{$keyword := .Context.Request.URL.Query.Get "keyword"}}

{{if $actions}}
  <div class="qor-page__header">
    {{$actions}}
  </div>
{{end}}

<div class="qor-page__body">
  <div data-toggle="qor.help">
    <div class="qor-help__header clearfix">
      <div class="qor-field">
        <div class="mdl-textfield mdl-js-textfield">
          <select name="category" class="qor-help__search-category" data-toggle="qor.chooser" placeholder="category filter">
            {{range $category := (get_help_categories .)}}
              <option value="{{index $category 0}}" {{if (eq $current_category (index $category 0))}}SELECTED{{end}}>{{index $category 1}}</option>
            {{end}}
          </select>
        </div>
      </div>

      <div class="qor-field">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input qor-help__search" type="text" id="inputSearch" name="keyword" data-help-filter-url="{{url_for $resource}}" value="{{$keyword}}" placeholder="{{t "qor_admin.actions.search_bar_search" "Search"}}">
          <label class="mdl-textfield__label" for="inputSearch"></label>
        </div>
      </div>
      <div class="qor-field">
        <button class="mdl-button mdl-button--colored qor-help__search-button" type="button">{{t "qor_admin.actions.search_bar_search" "Search"}}</button>
      </div>
    </div>

    {{render "shared/flashes"}}
    {{render "shared/errors"}}

    <ul class="qor-help__lists">
      {{range $result := .Result}}
        <li>
          <a href="{{url_for $result $resource}}" data-inline-url="{{url_for $result $resource}}">{{$result.Title}}</a>
          <span class="qor-help__lists-tags">
            {{range $category := $result.Categories.Categories}}
              <span>{{t (print "qor_help.categories." $category)}}</span>
            {{end}}
          </span>
        </li>
      {{end}}
    </ul>

    {{render "index/pagination"}}

    {{if has_create_permission .Resource}}
      <a class="mdl-button mdl-button--fab mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--new" href="{{patch_url (new_resource_path .Resource) "category" $current_category}}" data-url="{{patch_url (new_resource_path .Resource) "category" $current_category}}" data-open-type="slideout">
        <i class="material-icons">add</i>
      </a>
    {{end}}
  </div>
</div>
